:root {
  --blue-color: hsl(219, 85%, 26%);
  --red-color: hsl(1, 90%, 64%);
  --unread-bg-color: hsl(210, 60%, 98%);

  --white-color: hsl(0, 0%, 100%);
  --neutral-color-1: hsl(210, 60%, 98%);
  --neutral-color-2: hsl(211, 68%, 94%);
  --neutral-color-3: hsl(205, 33%, 90%);
  --neutral-color-4: hsl(219, 14%, 63%);
  --neutral-color-5: hsl(219, 12%, 42%);
  --neutral-color-6: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: var(--neutral-color-1);
}

h2 {
  color: var(--neutral-color-6);
}

.container {
  min-width: 375px;
  max-width: 768px;
  margin: auto;
  background: var(--white-color);
}

.notification-wrapper {
  padding: 1rem;
}

/* Notification Heading */

.notification-wrapper .header .mark-toggle a:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.notification-wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1.5rem 0;
}

.notification-wrapper .header h2 {
  display: inline;
  margin-right: 5px;
}

.notification-wrapper .header .number-unread {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  background: var(--blue-color);
  color: var(--white-color);
  font-weight: bold;
  border-radius: 5px;
}

.notification-wrapper .header p {
  color: var(--neutral-color-5);
}

/* Notification Cards */

.notification-wrapper .card {
  display: flex;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  background: var(--white-color);
}

.notification-wrapper .card.unread {
  background: var(--neutral-color-1);
}

.notification-wrapper .card .time-ago {
  color: var(--neutral-color-4);
  margin-top: 3px;
}
.notification-wrapper .card img {
  height: 40px;
  margin-right: 1rem;
}

.notification-wrapper .card .commented-img {
  height: 36px;
  margin-right: 0;
  margin-left: 1rem;
}

/* Notification Card Font Style Variations */

.notification-wrapper .card a {
  cursor: pointer;
  font-weight: bold;
  margin-right: 3px;
}

.notification-wrapper .card a:hover {
  color: var(--blue-color);
}

.notification-wrapper .card a.user-name {
  color: var(--neutral-color-6);
}

.notification-wrapper .card a.user-name:hover {
  color: var(--blue-color);
}

.notification-wrapper .card a.post-title {
  font-weight: 600;
  padding: 0.2rem;
}

.notification-wrapper .card a.group-title {
  font-weight: 600;
  padding: 0.2rem;
  color: var(--blue-color);
}
p {
  color: var(--neutral-color-5);
}

.notification-wrapper .card p.time-ago {
  color: var(--neutral-color-4);
}

.notification-wrapper .card p.private-message {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid var(--neutral-color-3);
  border-radius: 5px;
  cursor: pointer;
}

.notification-wrapper .card p.private-message:hover {
  background: var(--neutral-color-2);
}

.notification-wrapper .card i.unread-dot {
  padding-left: 2px;
  color: var(--red-color);
  font-size: 8px;
  vertical-align: middle;
}

/* from Front End Mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */

/* Adjusting base font-size to 14px matches design */
@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

/* Using base font-size: 16px of design doc for larger screens, but this doesn't match provided desktop-design.jpg */
